<section class="bg-[#111111] text-white font-poppins px-4 py-8 max-w-full">
    <div class="text-center max-w-4xl mx-auto space-y-4 px-4">
        <h2 class="text-3xl md:text-4xl font-extrabold">Vamos <span class="text-orange-500">Trabalhar Juntos?</span></h2>
        <p class="text-gray-400 text-base md:text-lg max-w-2xl mx-auto">Pronto para automatizar seus processos de negócios? Entre em contato conosco para discutir seu projeto.</p>
    </div>
    <div class="max-w-4xl mx-auto mt-8 flex flex-col gap-6">
        <form class="bg-black rounded-lg p-4 flex flex-col gap-3 max-w-full text-sm font-light md:text-sm md:font-light" action="#" method="POST">
            <label class="font-semibold text-sm" for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required class="p-2 rounded bg-gray-800 border border-transparent text-white focus:outline-none focus:border-2 focus:border-orange-500 w-full text-sm"/>
            <label class="font-semibold text-sm" for="email">Email</label>
            <input type="email" id="email" name="email" required class="p-2 rounded bg-gray-800 border border-transparent text-white focus:outline-none focus:border-2 focus:border-orange-500 w-full text-sm"/>
            <label class="font-semibold text-sm" for="empresa">Empresa</label>
            <input type="text" id="empresa" name="empresa" class="p-2 rounded bg-gray-800 border border-transparent text-white focus:outline-none focus:border-2 focus:border-orange-500 w-full text-sm"/>
            <label class="font-semibold text-sm" for="mensagem">Descrição</label>
            <textarea id="mensagem" name="mensagem" rows="4" required class="p-2 rounded bg-gray-800 border border-transparent text-white resize-none focus:outline-none focus:border-2 focus:border-orange-500 w-full max-w-full text-sm"></textarea>
            <button type="submit" class="mt-3 bg-orange-500 hover:bg-orange-600 transition text-white font-semibold py-2 px-4 rounded flex items-center justify-center gap-2 w-max text-sm">
                Enviar
                <i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>
</section>
