<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/hero-section') %>
        <%- include('partials/advantages') %>
    </body>
</html>